<!-- TEXTO -->
<div class="row">
    <div class="col-12">
        <h2 class="text-center">Inventario</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quibusdam quam facilis sunt! Atque modi reprehenderit minus blanditiis quasi repellat, placeat similique in dolores cupiditate autem quo minima voluptas. Fugit?</p>
    </div>
</div>


<!-- TABLE -->
<div class="row">
    <div class="col-10 offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="header-table">
                        <th>Estilo</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>900C</td>
                        <td>POLO POLIESTER SPORT CABALLERO</td>
                        <td>AQUA</td>
                        <td>6039</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>