<div class="row">
    <div class="col-12">
        <h2 class="text-center">Prueba Técnica</h2>

        <p>Este proyecto esta realizado con el framework Angular donde se podran obserbar datos traidos desde una APi, en la seccion de Doc. Se explicará como se realizo el proyecto.</p>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        <div 
            *ngIf="existError"
            class="alert alert-danger text-center"
        >
            Uppps! los datos no se encontraron
        </div>
    </div>
</div>


<div class="row">
    <div class="col-10 offset-1">
        <div 
            *ngIf="!existError" 
            class="table-responsive"
        >
            <table class="table table-hover">
                <thead>
                    <tr class="header-table">
                        <th>Estilo</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products"
                    >
                        <td>{{ product.ItmsGrpNam }}</td>
                        <td>{{ product.ItemName}}</td>
                        <td>{{ product.Color }}</td>
                        
                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'S'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'M'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'L'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'XL'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'2XL'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'3XL'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>

                        <td [ngSwitch]="product.Talla">
                            <span *ngSwitchCase="'4XL'">
                                {{ product.Stock }}
                            </span>
                            <span *ngSwitchDefault="">0</span>
                        </td>
                        

                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>