<div class="row">
    <div class="col-12">
        <nav>
            <div class="logo">
                Test Playerytees
            </div>
            <ul>
                <li
                    routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    Inicio
                </li>
                <li
                    routerLink="doc"
                    routerLinkActive="active"
                >
                    Doc
                </li>
            </ul>
        </nav>
    </div>
</div>