nav{
    margin: 50px 0;
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 3px 5px #b1b1b1;
}

.logo{
    cursor: pointer;
    font-weight: bold;
}

ul{
    width: auto;
    margin-top: 17px;
    display: flex;
}

ul li{
    width: 100px;
    height: 60px;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    transition: .3s all ease;
}

ul li:hover{
    background: #75dae8;
    border-radius: 2px;
}

.active{
    background: #75dae8;
    border-radius: 2px;
}